

*{
    margin: 0;
    padding: 0;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}
.crud{
    margin-left: 100px;
   display: inline-block;
   float: right;
}
table{
    margin: 0 auto;
    padding: 10px;
    
}
.navbar-brand{
    font-size: 36px; 
}
.navbar{      
        height: 100px;
        font-size: 36px;
}

.nav-item{   
    margin-left: 30px;
 
}

.volver{
    font-size: 34px;
    color: red;
}

.h1{
    text-align: right;
    margin-right: 300px;
}
.div-navegador{
    color: #503D39;
}
.card-text{
    font-size: 18px;
    color:black;
}

.card-title{
    font-size: 22px;
    color:brown;
}

footer {
  background-color: #e3f2fd;
  position: fixed;
  bottom: 0;
   width: 100%;
  height: 100px;
  color:black;
  font-size: 30px;
}


li{
    display: inline-block;
    text-decoration: none;
    margin-right: 15px;
    
    margin-top: 5px;
    padding: 5px;
}

main > li a{
    background: aqua;
    display: inline-block;
    text-decoration: none;
    margin-right: 15px; 
    margin-top: 5px;
    padding: 5px;
}

li a:link{
    text-decoration: none;
    
}
 footer a:link{
    list-style: none;
    text-decoration: none;
}
div a{
    text-decoration: none;
}


footer>div>a img{
    margin-right:  200px;
}




